* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Background.png);
    background-size: 100vw;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3vw;
}



h1 {
    font-family: 'Pangolin', cursive;
    color: #F5F5F5;
    /* color: #FFC9C9; */
    text-shadow: 5px 5px 10px #965A29;
    font-size: 6em;
    margin: 1vw 0vw -1vw 2vw;
    white-space: nowrap;
}

#title-paragraph {
    font-size: 2.5em;
    margin-left: 2vw;
    margin-top: 1vw;
    color: #c51e1e;
    font-weight: 600;
}

#title-right {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#results-container {
    height: fit-content;
    display: flex ;
    flex-direction: row;
    align-items: center;
    margin: 3vw -10vw 0vw 0vw;
    padding: 1vw 4vw 1vw 5vw;
    border: 5px dashed #FFC9C9;
    background: rgba(245, 245, 245, 0.7);
    box-shadow: 5px 5px 15px 0 #965A29;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
}

#results-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#score-header{
    color: #216640;
    font-size: 3em;
    font-weight: 600;
    margin-right: 2vw;
}

#results {
    display: flex;
    flex-direction: row;
}

.result-plates {
    display: flex;
    min-width: 4.5vw;
    flex-direction: column;
    align-items: center;
    color: #73512E;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0vw 1vw 0vw 1vw;
}

.scores {
    color: rgb(197, 30, 30);
    font-size: 2.5em;
    margin-top: -1vw;
}

#results-right {
    display: flex;
    width: 13vw;
    min-height: 8vw;
    max-height: fit-content;
    flex-direction: column;
    align-items: center;
    color: #ffc600;
    font-weight: 600;
    margin: 2.4vw 2vw 0 0;
}

#track {
    max-height: 9vw;
    width: 13vw;
    list-style: none;
    text-align: right;
    overflow-y: auto;
    font-size: 1.6em;  
}


#main {
    display: grid;
    grid-template-columns: 31vw 59vw;
    column-gap: 10vw;
}

#cat-choice-container {
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vw; 
    margin-left: 3vw;
    border: 5px dashed #FFC9C9;
    background: rgba(245, 245, 245, 0.7);
    box-shadow: 5px 5px 15px 0 #965A29;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 50%;
    padding: 4vw 0 5vw 0;
    position: relative;
    /* border: 1px solid black; */

}

.cat-head-image {
    transition: all .07s ease;
    max-width: 14vw;
    height: auto;
}

.changed-head {
    transform: scale(1.1);
}

#cat-choice-paragraph {
    color: #73512E;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0.5vw;
}

#cat-choice {
    color: #216640;
    font-size: 3em;
    font-weight: 600;
    transition: all .07s ease;
}


#result {
    transition: all .07s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    font-weight: 600;
    color: rgb(197, 30, 30);
    margin-top: -6.5vw;
    position: relative;
    z-index: 9;
}

#result-paragraph {
    font-size: 6em;
    margin-top: 1.35vw;
    font-family: 'Pangolin', cursive;
}

#refresh-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#again {
    font-size: 2em;
    margin-top: -1vw;
    color: #c51e1e;
    font-weight: 600;
    
}


#refresh-button {
    width: 4.2vw;
    transition: all .07s ease;
    margin-top: vw;
    position: relative;
    z-index: 10;
}

.button-change {
    transform: scale(1.5);
    filter: drop-shadow(0 0 1rem #ffc600);
}

#refresh-button:hover {
    transform: scale(1.12);
}


#submit-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.submit-image {
    max-height: 42vw;
    width: auto;
    margin: 0 2.5vw 0 2.5vw;
    transition: all .07s ease;
}

.submit-image:hover {
    transform: scale(1.12);
    /* -webkit-filter: drop-shadow( 2px 2px 8px #965A29); */
    filter: drop-shadow( 2px 2px 8px #965A29);
}

.submit-image:focus {
    /* transform: scale(1.12); */
    /* -shadow: 0 0 1rem #ffc600; */
    -webkit-filter: drop-shadow( 0 0 1rem #ffc600);
    filter: drop-shadow( 0 0 1rem #ffc600);
}

.changed-glow {
    transform: scale(1.5);
    text-shadow: 0 0 1rem #ffc600;
}
.result-background {
    background: rgba(245, 245, 245, 0.1);
    box-shadow: 5px 5px 15px 0 #965A29;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    padding: 0.5vw 1vw 0 1vw;
}

.changed-glow-again {
    transform: scale(1.5);
    margin-right: 1.5vw;
    text-shadow: 0 0 1rem #ffc600;
}

.changed-glow-button {
    transform: scale(1.5);
    text-shadow: 0 0 1rem #ffc600;
    margin-left: 1.5vw;
}

.changed {
    transform: scale(1.5);
}
